/* line 1, ../sass/stylesheet.scss */
div.ng-scope {
  display: inline;
}

/* line 5, ../sass/stylesheet.scss */
div.titleButtons.ng-scope {
  display: inline;
}

/* line 9, ../sass/stylesheet.scss */
.titleButtonWrapper {
  text-align: center;
}

/* line 13, ../sass/stylesheet.scss */
h1 {
  text-align: center;
}

/* line 17, ../sass/stylesheet.scss */
.reload {
  position: fixed;
  bottom: 0;
  margin-left: 47.5%;
}

/* line 23, ../sass/stylesheet.scss */
.main {
  margin-left: 25%;
  margin-right: 25%;
}

/* line 28, ../sass/stylesheet.scss */
.stats {
  width: 20%;
  position: fixed;
  border: 2px solid black;
  float: right;
  top: 0px;
  right: 0px;
  text-align: center;
  border-radius: 4px;
}

/* line 39, ../sass/stylesheet.scss */
.inventory {
  width: 20%;
  position: fixed;
  border: 2px solid black;
  float: left;
  top: 0px;
  left: 0px;
  text-align: center;
  border-radius: 4px;
}
